------------------------------------------
-- Tibia Game-Server Configuration File --
------------------------------------------

-- Data
DATA_DIRECTORY = "data/"

-- Database 
SQL_TYPE = "mysql"
SQL_DB   = "otserv"
SQL_HOST = "127.0.0.1"
SQL_PORT = 3306
SQL_USER = "root"
SQL_PASS = "9ia2yszg"

-- Init
MAP_FILE = "data/world/world.otbm"
MAP_STORAGE_TYPE = "binary"
UPDATE_DATABASE_HOUSES = false
MAP_KIND = "OTBM"
RESTORE_MAP_DATA = false

-- OTServ Status 
SERVER_NAME = "Tibia"
LOCATION = "Netherlands"
URL = "No Url"
OWNER_NAME = "Anonymous"
OWNER_EMAIL = "Anonymous"

-- Connections
IP = "127.0.0.1"
LOGIN_PORT = "7171"
GAME_PORT = "7172"
STATUS_PORT = "7171"
BIND_ONLY_GLOBAL_ADDRESS = false
LOGIN_ATTACK_DELAY = 0
ALLOW_CLONES = false
CHECK_ACCOUNTS = true
LOGIN_TRIES = 5
IP_LOGIN_TRIES = 10
RETRY_TIMEOUT = 5000
LOGIN_TIMEOUT = 60 * 1000
ACCOUNT_LOCK_DURATION = 5 * 60 * 1000;
STATUSQUERY_TIMEOUT = 30 * 1000
SAVE_CLIENT_DEBUG_ASSERTIONS = true
MAX_PACKETS_PER_SECOND = 50

-- World
WORLD_NAME = "Tibia"
WORLD_TYPE = "PVP"
DEATH_MSG = "You are dead."
MOTD = "Welcome to Tibia!"
MOTD_NUM = "1"
LOGIN_MSG = "Welcome to Tibia!"
MAX_PLAYERS = "1000"
DEFAULT_DESPAWNRADIUS = 50

-- Houses
HOUSE_RENT_PERIOD = "monthly"
PREMIUM_ONLY_BEDS = true
USE_BALANCE_HOUSE_PAYING = false
HOUSE_ONLY_PREMIUM = true
HOUSE_LEVEL = 10
SHOW_HOUSE_PRICES = false

-- Rates
EXPERIENCE_STAGES = true
RATE_EXPERIENCE = 1
RATE_EXPERIENCE_PVP = 0
RATE_SKILL = 3
RATE_MAGIC = 2
RATE_LOOT = 2
RATE_SPAWN = 3
RATES_FOR_PLAYER_KILLING = false
PARTY_MEMBER_EXP_BONUS = 5
DECREASE_SPAWN_REGEN = -400
GOLD_DROP_CHANCE = 700 -- This applies to all monsters that drop gold, it overrides item drop chance

-- Banishments
BROADCAST_BANISHMENTS = "no"
NOTATIONS_TO_BAN = 3
WARNINGS_TO_FINALBAN = 4
WARNINGS_TO_DELETION = 5
BAN_LENGTH = 7*86400
FINALBAN_LENGTH = 30*86400
IPBANISHMENT_LENGTH = 86400

-- Exahustions
STAIRHOP_EXHAUSTED = 0
IN_FIGHT_DURATION = 60000
FIELD_OWNERSHIP_DURATION = 5000
DEATH_ASSIST_COUNT = 5
MIN_ACTIONTIME = 200
MIN_ACTIONEXTIME = 1000
DISTANCE_WEAPON_INTERRUPT_SWING = false
WANDS_INTERRUPT_SWING = true

-- Player vs Player
MIN_PVP_LEVEL = 30
MIN_PVP_LEVEL_APPLIES_TO_SUMMONS = true
LAST_HIT_PZBLOCK_ONLY = true
DEFENSIVE_PZ_LOCK = true

-- Skulls
KILLS_PER_DAY_RED_SKULL = 3
KILLS_PER_WEEK_RED_SKULL = 5
KILLS_PER_MONTH_RED_SKULL = 10
RED_SKULL_DURATION = 30*24*60*60
UNJUST_SKULL_DURATION = 15*60*1000
KILLS_TO_BAN = 20

-- Idle
IDLE_TIME = 16*60*1000
IDLE_TIME_WARNING = 15*60*1000

-- Security
PASSWORD_TYPE_STR = "sha1"
PASSWORD_SALT = ""

-- Cheats / Fun
REMOVE_AMMUNITION = true
REMOVE_RUNE_CHARGES = true
REMOVE_WEAPON_CHARGES = true
CONTAINER_ITEMS_AUTO_STACK = false
CAN_ROPE_CREATURES = true
USE_RUNE_LEVEL_REQUIREMENTS = false
FIST_STRENGTH = 7
PVP_DAMAGE = 100
CAN_ATTACK_INVISIBLE = true
ALLOW_GAMEMASTER_MULTICLIENT = true
MAX_MESSAGEBUFFER = 4

-- CPU / Server Core
HEIGHT_MINIMUM_FOR_IDLE = 2
LUA_EXCEPTED_TYPE_ERRORS_ENABLED = false